[submodule "api"]
 path = api
 url = https://github.com/k-nasu/jwt-login-authentication-with-railsapi-nuxtjs_api
[submodule "front"]
 path = front
 url = https://github.com/k-nasu/jwt-login-authentication-with-railsapi-nuxtjs_front
